{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>KinBech</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/authentication.css' %}">

	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.png' %}" />
</head>

<body>
	<article class="auth-main-container">
		<section style="height:89vh; top:8.6%;">
			<div class="img1">
				<img style="height:89vh;" src=" {% static 'images/auth-image.jpg' %}">
			</div>
			<div class="content">
				<div class="form" style="display: flex; align-items: center; flex-direction: column;">

					<a href="{% url 'app:store' %}"><img src="{% static 'images/logo2.png' %}" alt="" width="80px"></a>

					<br>
					<h2 style="font-size: 1.4em;">REGISTER CUSTOMER</h2>

					<form method="POST" action="">
						{% csrf_token %}
						<div class="input">
							{{form.name}}
						</div>
						<div class="input">
							{{form.username}}
						</div>
						<div class="input">
							{{form.email}}
						</div>
						<div class="input">
							{{form.password1}}
						</div>
						<div class="input">
							{{form.password2}}
						</div>
						<div class="input">
							{{form.phone}}
						</div>
						<div class="input" style="position:relative; left: 25px;">
							<input type="submit" value="Register" name="">
						</div>

						<!-- Error Message -->
						{{form.errors}}

						<div class="input" style="position:relative; left: 30px;">
							<p>Already have an account? <a href="{% url 'auth:customer-login' %}"> Login</a></p>
						</div>

					</form>
				</div>
			</div>
		</section>
	</article>

	<script>
		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder = 'Full Name..';
		form_fields[2].placeholder = 'Username..';
		form_fields[3].placeholder = 'Email...';
		form_fields[4].placeholder = 'Password...';
		form_fields[5].placeholder = 'Confirm Password...';
		form_fields[6].placeholder = 'Contact Number...';


		for (var field in form_fields) {
			form_fields[field].className += ' form-control'
		}
	</script>

</body>

</html>