{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>KinBech</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/authentication.css' %}">
</head>

<body>
	<article class="auth-main-container">
		<section>
			<div class="img1">
				<img src="{% static 'images/auth-image.jpg' %}">
			</div>
			<div class="content">
				<div class="form">
					<h1>
						<p><a href="{% url 'app:store' %}">KinBech</a></p>
					</h1>
					<br>
					<h2>Login</h2>

					<form method="POST" action="">
						{% csrf_token %}
						<div class="input">
							<span>Username</span>
							<input type="text" name="username" placeholder="Username...">
						</div>
						<div class="input">
							<span>Password</span>
							<input type="password" name="password" placeholder="Password...">
						</div>
						<div class="remember">
							<label>
								<input type="checkbox" name="">
								<span>Remember me</span>
							</label>
						</div>
						<div class="input">
							<input type="submit" value="Login" name="">
						</div>

						{% for message in messages %}
						<p id="messages">{{message}}</p>
						{% endfor %}

						<div class="input">
							<p>Don't have an account? <a href="{% url 'auth:customer-registration' %}"> Sign Up</a></p>
						</div>

					</form>
				</div>
			</div>
		</section>
	</article>
</body>

</html>