{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="col-lg-12" style="padding-top:115px;">
  <div class="search_result_container">

    <!-- to display 'No results found' if there is no items as searched one -->
    {% if products.count != 0 %}

    <div class="search_result">
      <h4 style="width:900px;"><span style="color:rgb(99, 95, 95)">{{ products.count }}</span> items
        found for <span style="color:rgb(0, 140, 255)">"{{request.GET.search}}"</span>
      </h4>
    </div>

    <!-- Dropdown Menu -->
    <div style="margin-left: 10rem;">
      <form action="" method="POST" class="form_class" id="branche">
        {% csrf_token %}
        <select name="filter_by" class="form-control" id="select_id">
          <option selected="selected" disabled>Sort By: Featured</option>
          <option value="PriceHighToLow">Price: High To Low</option>
          <option value="PriceLowToHigh">Price: Low To High</option>
          <option value="mostPopular">Most Popular</option>
          <option value="newestArrivals">Newest Arrivals</option>
        </select>
        <button type="submit" class="btn btn" style="background-color:rgb(67, 228, 67);"><i
            class="fas fa-check"></i></button>
      </form>
    </div>

    {% else %}
    <div class="search_result">
      <h3>No results for <span style="color:rgb(0, 140, 255)">"{{request.GET.search}}"</span></h3>
      <p style="color:rgb(99, 95, 95)">Try checking your spelling or use more general terms</p>
    </div>
    {% endif %}
  </div>
  <hr style="width:90%; margin-right:auto; margin-left: auto;">

  <!-- display searched products -->
  <div class="container" style="margin-top:2.3rem;">
    {% for product in products %}
    <div class="searched_products" onclick="window.location='../product-detail/{{product.slug}}/';">
      <div class="product_image_div">
        <img src="{{product.imageURL}}" alt="" class="search_img"
          onerror=this.src="{% static 'images/default-image.jpg' %}">
      </div>
      <div class="product_details">
        <h4><strong><a href="#">{{product.name}}</a></strong></h4>

        {% if product.discount == 0.0 %}
        <h3 style="color:rgb(241, 111, 36);">$ {{product.price}}</h3>

        {% else %}
        <h3 style="color:rgb(241, 111, 36);"><strike>$ {{product.price}}</strike>&nbsp&nbsp $
          {{discountPrice|floatformat:2}}</h3>
        {% endif %}

        <h3>Description</h3>
        <p>{{product.description|truncatewords:30}}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock content %}